.btn {
    background-color: $primary;
    border-radius: 20px;
    color: $title-secondary;
    display: inline;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Source Sans Pro';
}