* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $title-secondary;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

h1 {
    font-family: 'Sacramento', cursive;
}
