.newsletter {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
    text-align: center;

    h2 {
        font-size: $s4;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    p {
        margin: 10px 0 30px;
    }

    input {
        width: 100%;
        padding: 10px 0;
        border: 2px solid #ccc;
        margin: 20px 0 50px;
        text-align: center;
        transition-property: border;
        transition-duration: 2s;

        &:focus {
            border: 2px solid $primary;
        }

        &:active {
            border: 2px solid $primary;
        }
    }
}

@media screen and (min-width: 1024px) {

    .newsletter {

        width: 33%;

        input {
            width: 150%;
            height: 50px;
        }
    }
}