//COLORS
$primary:                 #C9B097;
$background:              #F5F5F5;
$title:                   #000000;
$subtite:                 #333333;
$title-secondary:           #ffffff;

//FONT SIZE
$s1:       3rem;
$s2:       2.5rem;
$s3:       2rem;
$s4:       1.7rem;
$s5:       1.5rem;
$s6:       1.2rem;
$s7:       1rem;
$s8:       0.9rem;
$s9:       0.65rem;
